<!DOCTYPE html >
<html lang="en" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Miro: About Us</title>
</head>

<body>
    <div data-compId="a" data-micro-app="Header" data-json="{}"></div>
    <section class="section">
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, incidunt obcaecati quod placeat ad praesentium
                qui maiores quis natus cumque dolor minima nemo, quibusdam sed dolores. Quis delectus provident ullam?</p>


        </div>
    </section>
    <div data-micro-appId="c" data-micro-app="Footer" data-json="{}"></div>
</body>

</html>
