<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Miro: Cities to Visit</title>
    <style>
        body {
            background: #e9e9e9;
        }
    </style>
</head>

<body class="container">

    <div data-micro-appId="a" data-micro-app="Header" data-json="{}"></div>

    <div data-micro-appId="b" data-micro-app="CardGrid" data-json="{}"></div>
</body>

</html>
