<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React Miro: Welcome</title>
</head>

<body class="container">

    <div data-compId="a" data-micro-app="Header" data-json="{}"></div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta omnis ipsa hic ipsum minima similique earum consequatur
        quaerat maxime non accusantium placeat saepe possimus at, voluptatem dolorem debitis quisquam assumenda.</p>
    <div data-micro-appId="c" data-micro-app="Footer" data-json="{}"></div>
</body>

</html>
